001: Once you have their money, you never give it back.
002: The best deal is the one that makes the most profit.
003: Never pay more for an acquisition than you have to.
004: A woman wearing clothes is like a man in the kitchen.
005: Always exaggerate your estimates.
006: Never allow family to stand in the way of opportunity.
007: Keep your ears open.
008: Small print leads to large risk.
009: Opportunity plus instinct equals profit.
010: Greed is eternal.
011: Even if it’s free, you can always buy it cheaper.
012: Anything worth selling is worth selling twice.
013: Anything worth doing is worth doing for money.
014: Keep your family close, keep your Latinum closer.
015: Dead men close no deals.
016: A deal is a deal… until a better one comes along.
017: A contract is a contract is a contract… but only between Ferengi.
018: A Ferengi without profit is no Ferengi at all.
019: Satisfaction is not guaranteed.
020: Only give money to people you know you can steal from.
021: Never place friendship above profit.
022: A wise man can hear profit in the wind.
023: Nothing is more important than your health… except for your money.
024: Latinum can’t buy happiness, but you can sure have a blast renting it.
025: There’s always a way out.
026: As the customers go, so goes the wise profiteer.
027: There is nothing more dangerous than an honest businessman.
028: Whisper your way to success.
029: What’s in it for me ?
030: A wise man knows that confidentiality equals profit.
031: Never make fun of a Ferengi’s mother.
032: Insult something he cares about.
033: It never hurts to suck up to the boss.
034: War is good for business.
035: Peace is good for business.
036: Neutrality is good for business.
037: If it’s free, take it and worry about hidden costs later.
038: Everyone needs something.
039: Friendship is temporary; profit is forever.
040: She can touch your lobes, but never your latinum.
041: Profit is its own reward.
042: What’s mine is mine, and what’s yours is mine too.
043: Feed your greed, but not enough to choke it.
044: Never confuse wisdom with luck.
045: Ambition knows no family.
046: Make your shop easy to find.
047: Never trust a man wearing a better suit than your own.
048: The bigger the smile, the sharper the knife.
049: Everything is worth something to somebody.
050: Gratitude can bring on generosity.
051: Reward anyone who adds to your profits so they will continue to do so.
052: Never ask when you can take.
053: Never trust anybody taller than you.
054: Rate divided by time equals profit.
055: Take joy from profit, and profit from joy.
056: Be discreet.
057: Good customers are as rare as Latinum. Treasure them.
058: There is no substitute for success.
059: Free advice is seldom cheap.
060: Keep your lies consistent.
061: Never underestimate the power of bribery.
062: The riskier the road, the greater the profit.
063: Work is the best therapy-at least for your employees.
064: You don’t need a store front to set up shop.
065: Win or lose, there’s always Hupyrian beetle snuff.
066: Double the price, then sell it half off.
067: Always inspect the merchandise.
068: Ear stroking will get you anything.
069: Ferengi are not responsible for the stupidity of other races.
070: Ferengi are not responsible for the stupidity of other Ferengi.
071: Close the deal, and then answer questions.
072: Never trust your customers.
073: If it gets you profit, sell your own mother.
074: Knowledge equals profit.
075: Home is where the heart is, but the stars are made of latinum.
076: Every once in a while, declare peace. It confuses the hell out of your enemies.
077: It’s better to swallow your pride than to lose your profit.
078: When the going gets tough, the tough change the Rules.
079: Beware of the Vulcan greed for knowledge.
080: Greed is known by many names.
081: There’s a difference between being a coward and running away.
082: The flimsier the product, the higher the price.
083: Even the wealth of the Nagus started with one slip of Latinum.
084: A friend is not a friend if he asks for a discount.
085: Never let the competition know what you’re thinking.
086: When the odds are against you never give up; just quit.
087: A friend in need means three times the profit.
088: It ain’t over ’til its over.
089: Ask not what your profits can do for you, but what you can do for your profits.
090: The Divine Treasury awaits.
091: Hear all, trust nothing.
092: There are many paths to profit.
093: Act without delay! The sharp knife cuts quickly.
094: Females and finances don’t mix.
095: Expand or die.
096: For every Rule, there is an equal and opposite Rule, (except when there’s not).
097: Enough…… is never enough.
098: Every man has his price.
099: Trust is the biggest liability of all.
100: If they take your first offer, you either asked too little or offered too much.
101: The only value of a collectible is what you can get somebody else to pay for it.
102: Nature decays, but Latinum lasts forever.
103: Sleep can interfere with your lust for Latinum.
104: Faith moves mountains… of inventory.
105: Don’t trust anyone who trusts you.
106: There is no honor in poverty.
107: A warranty is valid only if they can find you.
109: Dignity and an empty sack is worth the sack.
110: Exploitation begins at home.
111: Treat people in your debt like family… exploit them.
112: Never have sex with the boss’s sister.
113: Always have sex with the boss.
114: The one in power defines morality.
115: The best contract always has a lot of fine print.
116: There’s always a catch.
117: Profit is the better part of valor.
118: There is no profit in revenge.
119: Never judge a customer by the size of his wallet, sometimes, good things come in small packages.
120: Borrow on a handshake, lend in writing.
121: Everything is for sale, even friendship.
122: Do not forsake your profits and they will watch over you.
123: Even a blind man can recognize the glow of latinum.
124: Diligent hands bring wealth.
125: You can’t make a deal if you’re dead.
126: Count it.
127: Stay neutral in conflict so that you can sell supplies to both sides.
128: Secrets are commodities, sell them.
129: The fear of poverty is the beginning of knowledge.
130: Never pay for sentiment, always charge for it.
131: Information is profit.
132: Never take no from someone who wasn’t authorized to give you yes.
133: Only those ideas that lead to profit are good.
134: One good turn requires another.
135: Never trust a beneficiary.
136: Seek profit first and everything else will follow.
137: Everything is negotiable.
138: Wealth brings satisfaction.
139: Wives serve, brothers inherit.
140: Better great treasure with trouble than peace with poverty.
141: Only fools pay retail.
142: There’s no such thing as an unfair advantage.
143: Risk is part of the game… play it for all it’s worth.
144: There’s nothing wrong with charity… as long as it winds up in your pocket.
145: A little and often fills your pockets.
146: Necessity is the mother of invention. Profit is the father.
147: People love the bartender.
148: Wealth enables experience.
149: Profit is encouragement to industry and enterprise.
150: The way to become rich is to put all your Latinum in one sack, then watch the sack.
151: The man is richest who’s pleasures are cheapest.
152: A lie is a way to tell the truth to someone who doesn’t know.
153: Sell the sizzle, not the steak.
154: Pain passes, but profits remain.
155: Power is 50% what you have and 50% what people think you have.
156: Rainy days are good for business.
157: Common sense is the collection of the customer’s prejudices.
158: The first principle of a rigid businessman is to always be flexible.
159: There are no creeds in mathematics.
160: Happiness is not mere possession of profit, but joy of acquisition.
161: Beyond the mountains there are more mountains.
162: Even in the worst of times, someone turns a profit.
163: When a friend makes profit, you don’t.
164: Life does not guarantee equality of conditions, only of opportunity.
165: Never let your sense of morals get in the way of opportunity.
166: The success of any great transaction does not depend on odds.
167: Earning is not only a duty it’s a privilege.
168: Whisper your way to success.
169: Competition and fair play are mutually exclusive.
170: The hand that feeds could be bitten.
171: Blood is thicker than water, and Latinum is thicker than both.
172: Chances aren’t what they used to be.
173: Dream, plan, believe, act.
174: If you can’t buy it, find someone who can.
175: Gratitude is expensive.
176: The wind always favors the best navigator.
177: Know your enemies… but do business with them always.
178: Power, leisure, and liberty are all words for profit.
179: Opportunity may bring profit, friendship rarely does.
180: Never discuss an opportunity with someone wealthier than you.
181: Not even dishonesty can tarnish the shine of profit.
182: The cost for profit is never too high.
183: When life hands you ungaberries, make detergent.
184: A Ferengi waits to bid until his opponents have exhausted themselves.
185: Small opportunities are often the beginning of great enterprises.
186: There is no security, only opportunity.
187: The philosophy of one is the common sense of another.
188: A fool and his money is the best customer.
189: Let others keep their reputation. You keep their latinum.
190: Hear all, trust nothing.
191: A Ferengi waits to bid until his opponents have exhausted themselves.
192: Never cheat a Klingon… unless you can get away with it.
193: Trouble comes in threes.
194: It’s always good to know about new customers before they walk in your door.
195: You can’t jump a 20 foot gorge in two 10 foot jumps.
196: Listen to advice; then do what you want anyway.
197: Pick battles big enough to matter, but small enough to win.
198: You can’t shake hands with a fist.
199: Location, location, location.
200: If you’re going to have to endure, make yourself comfortable.
201: Wisdom consists of the anticipation of costs and consequences.
202: The justification for profit is profit.
203: New customers are like razor-toothed gree worms. They can be succulent, but sometimes they bite back.
204: It takes a Ferengi to cheat a Ferengi.
205: Trust can be expensive.
206: Distrust can be expensive.
207: Sense without education is better than education without sense.
208: Sometimes the only thing more dangerous than the question is an answer.
209: To many lobes spoil the deal.
210: Always be smarter than the people you hire.
211: Employees are the rungs on the ladder of success. Don’t hesitate to step on them.
212: Stay neutral in conflicts so that you can sell supplies to both sides
212: A good lie is easier to believe than the truth.
214: Never begin a negotiation on an empty stomach.
215: Profit may not bring happiness, but there is no happiness without profit.
216: Never gamble with an empath.
217: You can’t free a fish from water.
218: Always know what you’re buying.
219: Possession is eleven-tenths of the law!
220: Listen what they say while watching what they do.
221: Computers can only give you the answers.
222: The right to be heard does not automatically include the right to be believed.
223: Beware the man who doesn’t make time for oo-mox.
224: Listen to your lobes.
225: Always follow one step ahead.
226: Learn the language; translators malfunction.
227: If that’s what’s written, then that’s what’s written.
228: Bid high and bid often.
229: Latinum lasts longer than lust.
230: If they’re smarter than you, make them a lesser partner.
231: There’s a customer born every minute; be sure you’re the first to find each one.
232: Deal only with select clientele. (Those who are rich and not so bright.)
233: Latinum doesn’t grow on trees.
234: There’s nothing wrong with a good delusion.
235: Duck; death is tall.
236: You can’t buy fate.
237: It’s good to want things, especially things you can’t have.
238: How I handle my business is none of yours.
239: Never be afraid to mislabel a product.
240: Time, like Latinum, is a highly limited commodity.
241: Never trust a hardworking employee.
242: More is good. All is better.
243: The more good will you can generate, the longer your customers stay.
244: Because something’s priceless doesn’t mean it’s not worthless.
245: Benevolence is 50/50.
246: Innocence is expensive.
247: Don’t negotiate with the underlings.
248: Profit is in the details.
249: Once it’s sold stop selling.
250: Precious things are for those that can prize them.
251: Don’t miss the opportunity by grabbing at the shadow.
252: Little steps may prove great profit.
253: Synthehol is the lubricant of choice for a customer’s stuck purse.
254: Better a fat slave than to starve free.
255: A wife is a luxury… a smart accountant a necessity.
256: Accountants do not play the game; they only keep the score.
257: When the messenger comes to appropriate your profits, kill the messenger.
258: A slip in the hand is better than a bar in sight.
259: Wealth not yours might well as not exist.
260: Life’s not fair. How else would you turn a profit?
261: A wealthy man can afford anything except a conscience.
262: A verbal contract isn’t worth the paper it’s written on.
263: Never let doubt interfere with your lust for latinum.
264: Distrust interested advice.
265: The customer is always right… until you get their Latinum.
266: When in doubt, lie.
267: If you believe it, they believe it.
268: Hold on to what you have, but plan for future luck.
269: Trying to please an enemy makes you the loser every time.
270: In business deals, a disruptor can be almost as important as a calculator.
271: What we want is not always the most profitable.
272: Think twice before leaping once.
273: Don’t waste your breath arguing with a Klingon; save it for the running you may have to do.
274: Consider your next transaction while counting your Latinum.
275: Foolish investment based on foolish advice is still foolish investment.
276: Overbooking is standard practice.
277: Anything worth fighting for is worth hiding from.
278: Appearances are deceptive. Dress above yourself.
279: Necessity knows no price.
280: If it ain’t broke, don’t fix it.
281: Greed cannot overreach itself.
282: The value of something is not in its use, but in its price.
283: An individual is smart, a group is not.
284: Deep down, everyone’s a Ferengi.
285: No good deed ever goes unpunished.